<!-- FORMA DE BINDEAR [(ngModel)]="ACA RECIBE TYPESCRIPT" -->
<!-- Para trabajar con eventos -->
<!-- <h1>Hola Mundo</h1>
<h2>{{ title }}</h2>
<input type="text" [(ngModel)]="title" />
<br />
<button (click)="cambiarTitulo()">Cambiar el título</button> -->

<div class="container mt-5 text-center">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label id="inputEdadUno">Edad uno</label>
        <input
          type="number"
          class="form-control"
          placeholder="edad uno"
          id="inputEdadUno"
          [(ngModel)]="edadUno"
        />
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <label id="inputEdadDos">Edad dos</label>
        <input
          type="number"
          class="form-control"
          placeholder="edad dos"
          id="inputEdadDos"
          [(ngModel)]="edadDos"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-block btn-success mb-2" (click)="calcularInputs()">
        Calcular
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-block btn-info mb-2" (click)="limpiarCampos()">
        Limpiar campos
      </button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <label>Promedio</label>
      <input
        type="text"
        disabled
        class="form-control"
        [(ngModel)]="resultadoPromedio"
      />
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <label>Suma</label>
      <input
        type="text"
        disabled
        class="form-control"
        [(ngModel)]="resultadoSuma"
      />
    </div>
  </div>
</div>
